.section-academic {
  padding: 110px 10px 10px 10px;
}
.section-academic-text {
  margin: 20px 0px;
  text-align: center;
}
.section-academic-text--h1 {
  font-size: 1.8rem;
  color: var(--three);
}
.section-academic-text--h2 {
  font-size: 0.8rem;
  color: var(--five);
  margin-bottom: 10px;
}
.section-academic-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (max-width: 820px) {
  .section-academic-content {
    justify-content: center;
  }
}
.section-academic-content-all > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
