.main {
  min-width: 320px;
  width: 100%;
}
.main__top__content img {
  position: relative;
  width: 100%;
  min-height: 240px;
  max-height: 600px;
  margin-top: 100px;
}
.main__top__content .main__top__content__text {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #16608888;
}
.main__top__content .main__top__content__text .main__top__content__text--h2 {
  font-size: 2.5rem;
  color: var(--four);
  text-align: center;
  line-height: 150px;
}
@media screen and (max-width: 500px) {
  .main__top__content .main__top__content__text .main__top__content__text--h2 {
    font-size: 2.3rem;
  }
}
.main__top__content .main__top__content__social {
  position: absolute;
  top: 100px;
  right: 0;
}
.main__top__content .main__top__content__social i {
  color: var(--two);
  font-size: 2rem;
  margin: 10px 5px;
  transition: 500ms all;
}
.main__top__content .main__top__content__social i:hover {
  color: var(--one);
}
.cones {
  min-width: 320px;
  width: 100%;
  margin: 50px 0;
}
.cones .cones__content {
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
}
.cones .cones__content .cones__content--mask {
  position: absolute;
  background-color: rgba(22, 96, 136, 0.5);
  width: 100%;
  height: 100%;
}
.cones .cones__content .cones__content--img {
  margin-top: 30px;
  max-width: 320px;
}
.cones .cones__content .cones__content--h2 {
  position: absolute;
  top: 120px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  font-weight: bold;
  color: var(--four);
}
.cones .cones__content .cones__content--btn {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 60px);
  right: 0;
  background-color: var(--one);
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px 15px;
  border: 1px solid var(--one);
  transition: 500ms all;
  z-index: 1;
}
.cones .cones__content .cones__content--btn:hover {
  background-color: transparent;
}
.cones .cones__content .cones__content--a {
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 15px;
  color: var(--four);
}
.mision {
  min-width: 320px;
  width: 100%;
}
.mision .mision__content {
  margin: 50px 15px;
}
.mision .mision__content .mision__content--h2 {
  font-size: 2rem;
  font-weight: bold;
}
.mision .mision__content .mision__content--p {
  font-size: 1rem;
  font-weight: 300;
}
.ley {
  min-width: 320px;
  width: 100%;
  margin: 50px 0;
}
.ley .ley__content {
  position: relative;
  width: 100%;
  height: 250px;
  text-align: center;
}
.ley .ley__content .ley__content--mask {
  position: absolute;
  background-color: rgba(22, 96, 136, 0.1);
  width: 100%;
  height: 100%;
}
.ley .ley__content .ley__content--img {
  height: 100%;
  width: 100%;
}
.ley .ley__content .ley__content--h2 {
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  font-weight: bold;
  color: var(--four);
}
.ley .ley__content .ley__content--btn {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 60px);
  right: 0;
  background-color: var(--one);
  border-radius: 100px;
  outline: none;
  border: none;
  padding: 10px 15px;
  border: 1px solid var(--one);
  transition: 500ms all;
  z-index: 1;
}
.ley .ley__content .ley__content--btn:hover {
  background-color: transparent;
}
.ley .ley__content .ley__content--a {
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 15px;
  color: var(--four);
}
.values {
  min-width: 320px;
  width: 100%;
  padding: 50px 10px;
  background-color: var(--one);
}
.values .values--h2 {
  font-size: 2rem;
  color: var(--four);
}
.values .values__content {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  -webkit-overflow-scrolling: auto;
  scroll-snap-type: x proximity;
  overscroll-behavior-x: contain;
}
@media screen and (min-width: 1200px) {
  .values .values__content {
    justify-content: space-around;
  }
}
.values .values__content::-webkit-scrollbar {
  display: none;
}
.values .values__content .values__content__box {
  min-width: 200px;
  min-height: 200px;
  margin: 30px 20px;
  background-color: #0479b8;
  text-align: center;
  color: var(--four);
  transition: 500ms all;
}
.values .values__content .values__content__box:hover {
  background-color: var(--two);
  color: var(--one);
}
.values .values__content .values__content__box .values__content__box--i {
  font-size: 2rem;
  line-height: 100px;
}
.values .values__content .values__content__box .values__content__box--p {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px;
}
