.section-social {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #335dff;
  padding: 20px 10px;
  margin-top: 50px;
  min-width: 320px;
  text-align: center;
}
.section-social-content {
}
.section-social-content--h2 {
  font-size: 2rem;
  color: var(--four);
  font-weight: bold;
}
.section-social-content--p {
  color: var(--four);
  font-size: 1rem;
  font-weight: 200;
  margin: 20px 0;
}
.section-social-content--icon {
  color: var(--two);
  margin: 10px;
  transition: 500ms all;
}
.section-social-content--icon:hover {
  color: var(--four);
}
